:root {
  --iris-color: #4d5ae5;
  --ocean-color: #404bbf;
  --navyblue-color: #2e2f42;
  --meantgreen-color: #31d0aa;
  --slate-color: #434455;
  --white-color: #fff;
  --graywhite-color: #f4f4fd;
}

.main-page {
  font-family: 'Roboto', sans-serif;
  color: var(--slate-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
