:root {
  --iris-color: #4d5ae5;
  --ocean-color: #404bbf;
  --navyblue-color: #2e2f42;
  --meantgreen-color: #31d0aa;
  --slate-color: #434455;
  --white-color: #fff;
  --graywhite-color: #f4f4fd;
}

.main-page {
  font-family: 'Roboto', sans-serif;
  color: var(--slate-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.link-logo {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--iris-color);
}

.span-studio {
  color: var(--navyblue-color);
}

.head-link {
  color: var(--navyblue-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.head-link:hover {
  color: var(--ocean-color);
}

.head-link:focus {
  color: var(--ocean-color);
}

.head-link:active {
  color: var(--ocean-color);
}

.addres-head {
  font-style: normal;
}

.addres {
  color: var(--slate-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}

.addres:hover,
.addres:focus {
  color: var(--ocean-color);
}
