:root {
  --iris-color: #4d5ae5;
  --ocean-color: #404bbf;
  --navyblue-color: #2e2f42;
  --meantgreen-color: #31d0aa;
  --slate-color: #434455;
  --white-color: #fff;
  --graywhite-color: #f4f4fd;
}

.main-page {
  font-family: 'Roboto', sans-serif;
  color: var(--slate-color);
  background-color: var(--white-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* HEADER */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--iris-color);
}

.first-letter {
  color: var(--navyblue-color);
}

.head-link {
  color: var(--navyblue-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.head-link:hover {
  color: var(--ocean-color);
}

.head-link:focus {
  color: var(--ocean-color);
}

.head-link:active {
  color: var(--ocean-color);
}

.addres-head {
  font-style: normal;
}

.addres {
  color: var(--slate-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}

.addres:hover,
.addres:focus {
  color: var(--ocean-color);
}
/* HEADER */

/* MAIN */
/* text */
.section-one {
  background-color: var(--navyblue-color);
}

.section-four {
  background-color: var(--graywhite-color);
}

.section-three {
  background-color: var(--white-color);
}

.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-color);
}

.title-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--navyblue-color);
}

.title-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navyblue-color);
}

.description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
}
/* text */
.order-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  background: var(--iris-color);
  color: var(--white-color);
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.order-button:hover,
.order-button:focus {
  background-color: var(--ocean-color);
}

/* MAIN */

/* FOOTER */
.footer-main {
  background-color: var(--navyblue-color);
}

.guide {
  color: var(--graywhite-color);
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris-color);
}

.foter-first {
  color: var(--graywhite-color);
}
